body
{
	margin: 50px 0px 3px 3px;
}

menu_tab
{
	position: relative;
	display: table;
	z-index: 4;
}

#menu_tab ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}

#menu_tab li
{
	display: inline;
	float: left;
	border-style: solid;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

content
{
	style="background-color:#EEEEEE";
	height:200px;
	width:400px;
	float:left;
}
